/*=============== ABOUT ===============*/
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5vw;
    background: $second-bg-color;

    .about__container{
        flex: 1;
    }
}